<% content_for :title, @presenter.title %>

<article class="entity">
  <header class="entity__header">
    <p class="entity__breadcrumb"><%= @presenter.fqn %></p>
    <h1 class="entity__name">
      <span class="entity__kind"><%= @presenter.kind %></span>
      <%= @presenter.name %>
    </h1>
    <p class="entity__version">Ruby on Rails <%= @package_version.channel %></p>
  </header>

  <section class="entity__doc">
    <% if @presenter.doc_markdown.present? %>
      <%= simple_format(h(@presenter.doc_markdown)) %>
    <% else %>
      <p class="muted">No documentation comment.</p>
    <% end %>
    <% if @presenter.source_path %>
      <p class="entity__source">
        Defined in <code><%= @presenter.source_path %></code>
        <% if @presenter.source_line_start %>
          line <%= @presenter.source_line_start %>
        <% end %>
      </p>
    <% end %>
  </section>

  <% if @presenter.superclass_identity %>
    <section class="entity__inherits">
      <h2>Inherits from</h2>
      <p><%= @presenter.superclass_identity.fqn %></p>
    </section>
  <% end %>

  <% if @presenter.included_modules.any? %>
    <section class="entity__includes">
      <h2>Includes</h2>
      <ul>
        <% @presenter.included_modules.each do |mod| %>
          <li><%= mod.fqn %></li>
        <% end %>
      </ul>
    </section>
  <% end %>

  <% if @presenter.constants.any? %>
    <section class="entity__constants">
      <h2>Constants</h2>
      <ul>
        <% @presenter.constants.each do |const| %>
          <li><code><%= const.name %></code></li>
        <% end %>
      </ul>
    </section>
  <% end %>

  <% if @presenter.attributes.any? %>
    <section class="entity__attributes">
      <h2>Attributes</h2>
      <ul>
        <% @presenter.attributes.each do |attr| %>
          <li><code><%= attr.name %></code></li>
        <% end %>
      </ul>
    </section>
  <% end %>

  <% if @presenter.own_methods.any? %>
    <section class="entity__own-methods">
      <h2>Methods (defined here)</h2>
      <ul class="method-list">
        <% @presenter.own_methods.each do |method_identity| %>
          <li>
            <span class="method-list__scope"><%= method_identity.scope == "singleton" ? "self." : "#" %></span>
            <code><%= method_identity.name %></code>
          </li>
        <% end %>
      </ul>
    </section>
  <% end %>

  <% if @presenter.inherited_methods_grouped.any? %>
    <section class="entity__inherited-methods">
      <h2>Methods (inherited)</h2>
      <% @presenter.inherited_methods_grouped.each do |ancestor_fqn, methods| %>
        <details class="method-group" open>
          <summary>
            From <code><%= ancestor_fqn %></code>
            <span class="method-group__count">(<%= methods.size %>)</span>
          </summary>
          <ul class="method-list">
            <% methods.each do |parent_fqn, name, scope, fqn| %>
              <li>
                <span class="method-list__scope"><%= scope == "singleton" ? "self." : "#" %></span>
                <code><%= name %></code>
              </li>
            <% end %>
          </ul>
        </details>
      <% end %>
    </section>
  <% end %>
</article>
